{% extends 'base.html' %}

{% block title %}To-Do List | Edit Item{% endblock %}
{% block content %}
<div class="subnav container">
    <h1 class="display-4">Edit</h1>
    <hr>
    {% if item %}
     <form class="d-flex" method="POST">
              {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="{{ item.item }}" value="{{ item.item }}" aria-label="Search" name="item">
            <input type="hidden" value="{{ item.completed }}" name="completed">
            <button class="btn btn-outline-secondary" type="submit">Edit</button>
     </form>
    {% endif %}

</div>
{% endblock %}